@{
    ViewData["Title"] = "About Us Page";
}

    
<h1 >About Us</h1>
<p>Not Quite Human is An Dungeons and Dragons Race creator.</p>
<p>It is Created By Lennert Verwimp for the sole purpose of making custom races easier!</p>
   


