:root {
    --main-color: #D0A85C;
}
/*Body*/
body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/Images/moonbg.jpg);
    
}
* {
    color: var(--main-color) !important;
    border-color: var(--main-color) !important;
}
button, .form-control, input {
    background-color: transparent !important;
    border-color: var(--main-color) !important;
}
a {
    color: var(--main-color);
}
.navbar {
    border-color: var(--main-color) !important;
}
.navbar-nav{
    margin-left:auto;
}
/*Home*/
.home{
    padding-top: 13rem !important;  
}
.display-6{
    font-size: 7rem !important;
    font-weight: bold;
}
/*Navbar*/
a.navbar-brand,
a.navbar-text,
a.nav-link {
    color: var(--main-color);
}
.btn-link {
    color: var(--main-color);
}
button.navbar-toggler {
    border-color: var(--main-color);
}
span.toggle {
    /*overwrite toggle icon colorstroke*/
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(208, 168, 92, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.footer {
    border-color: var(--main-color) !important;
}
/*Traits*/
.traitselect {
    width: 100%
}

table {
    min-width: 100%;
}

tbody {
    min-width: 100%;
    overflow-y: auto;
}

tr {
    border: 2px solid;
}

    tr.trait:hover, tr.trait:focus-within {
        background: linear-gradient(0deg, rgba(208, 168, 92, 0.2), rgba(208, 168, 92, 0.2));
    }

td {
    position: relative;
}

    td.col-8,
    td.col-4,
    th.col-8,
    th.col-4 {
        padding: 0px;
    }

    td > a:first-child {
        width: 100%;
        display: flex;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 16px;
        padding-left: 8px;
        text-decoration: none;
        color: inherit;
        z-index: 0;
    }
